<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

  <link href=“https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css” rel=“stylesheet” type=“text/css”>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js">
    </script>
  <script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
  <link href="https://cdn.datatables.net/1.10.18/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css">

</head>

<body style="margin-left: 10px; margin-top: 10px; margin-right: 10px">

  <h1><%= title %></h1>
  <p>Welcome to the <%= title %></p>

  <table id="table" class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Token</th>
        <th scope="col">Email</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Subteam</th>
        <th scope="col">Hours</th>
        <th class="no-sort" scope="col">Link</th>
        <th class="no-sort" scope="col">Manage</th>
      </tr>
    </thead>
    <tbody>
      <% for(var id in users) { %>
      <tr>
        <td><%= id %></td>
        <td><%= users[id]["email"] %></td>
        <td><%= users[id]["first"] %></td>
        <td><%= users[id]["last"] %></td>
        <td><%= users[id]["subteam"] %></td>
        <td><%= users[id]["total-hours"] %></td>
        <td><a class="btn btn-primary" style="color: white" href="/user/<%= id %>" role="button">View</a></td>
        <td><button type="button" class="btn btn-danger" style="color: white"
            onclick="buttonDelete(`<%= id %>`)">Delete</button></td>
      </tr>
      <% } %>

    </tbody>
  </table>
  <script>
    $(document).ready(function () {
      $('#table').DataTable({
        "columns": [
          null,
          null,
          null,
          null,
          null,
          null,
          { "orderable": false },
          { "orderable": false }
        ],
        "order": [[ 2, "asc" ]],
        "pageLength": 100
      });

      $('.dataTables_length').addClass('bs-select');
    });
    function buttonDelete(userId) {
      fetch("/deleteUser", {
        method: 'POST',
        headers: {
          'Accept': 'application/json',
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({ id: userId })
      }).then(value => {
        window.location.href = "/"
      });
    }


  </script>
  <style>
    .no-sort {
      content: none !important;
    }
  </style>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->

</body>

</html>